<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kickball Stuff</title>
    <link rel="stylesheet" href="kick.css" />
  </head>

  <body>
    <h1>Position roster</h1>

    <h2><%= @position.tr("_"," ") %></h2>

    <ul>
      <!--The team has <%= @players %>-->

      <% @position_players.each do |player| %>
        <li><%= player %></li>

      <% end %>

      <!--Will want to get player hash info into here-->
    </ul>
  </body>
</html>
