<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kickball Stuff</title>
    <link rel="stylesheet" href="kick.css" />
  </head>

  <body>
    <h1>Kickball teams</h1>

    <ul>

      <% @teams.each do |team| %>
        <li><a href= <%= "team_rosters/#{team}" %>><%= team.tr("_"," ") %></a></li>


      <% end %>
    </ul>
  </body>
</html>
